Options +FollowSymLinks
Options -MultiViews

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^(.+)$ /backend/index.php?systemqueryurl=$1 [QSA]

SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1

RewriteCond %{REQUEST_URI} ^/backend/api/login$ [NC]
RewriteRule .* /backend/api/login.php [L]

<FilesMatch "\.(php|twig|log)$">
	Deny from all
</FilesMatch>

<FilesMatch "(index|login).(php)$">
	Allow from all
</FilesMatch>